WebHashcat/WebHashcat/settings.py
WebHashcat/settings.ini
WebHashcat/db.sqlite3
WebHashcat/Files/potfile*
WebHashcat/Files/Hashfiles/*.hashfile
WebHashcat/Files/Crackedfiles/*.crackedfile
WebHashcat/Files/Maskfiles/*.hcmask
WebHashcat/Files/Rulefiles/*.rule
WebHashcat/Files/Wordlistfiles/*.wordlist
HashcatNode/*.crt
HashcatNode/*.key
HashcatNode/settings.ini
HashcatNode/hashes/*.list
HashcatNode/rules/*.rule
HashcatNode/masks/*.hcmask
HashcatNode/potfiles/*.potfile
HashcatNode/wordlists/*.wordlist
HashcatNode/hashcatnode.db
HashcatNode/hashcatnode.log
TODO

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover
.hypothesis/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# IPython Notebook
.ipynb_checkpoints

# pyenv
.python-version

# celery beat schedule file
celerybeat-schedule

# dotenv
.env

# virtualenv
venv/
ENV/

# Spyder project settings
.spyderproject

# Rope project settings
.ropeproject
