{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="{% static "favicon.ico" %}">

    <title>WebHashcat</title>

    <!-- Libraries CSS -->
    <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">
    <link href="{% static "css/dataTables.bootstrap.min.css" %}" rel="stylesheet">
    <link type="text/css" href="{% static "css/buttons.bootstrap.min.css" %}" rel="stylesheet" />
    <link type="text/css" href="{% static "css/bootstrap-datetimepicker.css" %}" rel="stylesheet" />
    <!-- Custom styles for this template -->
    <link href="{% static "css/dashboard.css" %}" rel="stylesheet">
    <link href="{% static "css/custom.css" %}" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{% static "js/jquery.min.js" %}"></script>
    <script src="{% static "js/bootstrap.min.js" %}"></script>
    <script src="{% static "js/jquery.dataTables.min.js" %}"></script>
    <script src="{% static "js/dataTables.bootstrap.min.js" %}"></script>
    <script src="{% static "js/dataTables.buttons.min.js" %}"></script>
    <script src="{% static "js/buttons.bootstrap.min.js" %}"></script>
    <script src="{% static "js/buttons.html5.min.js" %}"></script>
    <script src="{% static "js/canvasjs.min.js" %}"></script>
    <script src="{% static "js/jquery.canvasjs.min.js" %}"></script>
    <script src="{% static "js/jqueryFileTree.js" %}"></script>
    <script src="{% static "js/highcharts.js" %}"></script>
    <script src="{% static "js/exporting.js" %}"></script>
    <script src="{% static "js/moment.js" %}"></script>
    <script src="{% static "js/bootstrap-datetimepicker.js" %}"></script>


  </head>

  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{% url "Hashcat:index" %}">WebHashcat</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            {% if Section == "Hashes" or Section == "Files" or Section == "Hashfile" %}
               <li class="active"><a href="{% url "Hashcat:hashfiles" %}">Hashcat</a></li>
            {% else %}
               <li ><a href="{% url "Hashcat:hashfiles" %}">Hashcat</a></li>
            {% endif %}
            {% if Section == "Nodes" %}
               <li class="active"><a href="{% url "Nodes:nodes" %}">Nodes</a></li>
            {% else %}
               <li ><a href="{% url "Nodes:nodes" %}">Nodes</a></li>
            {% endif %}
          </ul>
        </div>
      </div>
    </nav>

    <div class="container-fluid">
      <div class="row">

        {% if Section != "Dashboard" %}

        <div class="col-sm-3 col-md-2 sidebar">
          {% if Section == "Hashes" or Section == "Search" or Section == "Files" or Section == "Hashfile" %}
          <ul class="nav nav-sidebar">
            {% if Section == "Hashes" or Section == "Hashfile" %}
               <li class="active"><a href="{% url "Hashcat:hashfiles" %}">Hashfiles</a></li>
            {% else %}
               <li ><a href="{% url "Hashcat:hashfiles" %}">Hashfiles</a></li>
            {% endif %}
            <li {% if Section == "Search" %}class="active"{% endif %}><a href="{% url "Hashcat:search" %}">Search</a></li>
            {% if Section == "Files" %}
               <li class="active"><a href="{% url "Hashcat:files" %}">Files</a></li>
            {% else %}
               <li ><a href="{% url "Hashcat:files" %}">Files</a></li>
            {% endif %}
          {% endif %}
          {% if Section == "Nodes" %}
          <ul class="nav nav-sidebar">
            {% if Section == "Nodes" %}
               <li class="active"><a href="{% url "Nodes:nodes" %}">Nodes</a></li>
            {% else %}
               <li ><a href="{% url "Nodes:nodes" %}">Nodes</a></li>
            {% endif %}
          </ul> 
          {% endif %}
        </div>

        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        {% else %}
        <div class="col-md-12 main">
        {% endif %}

          {% if error_message %}
          </br>
          <div class="alert alert-danger" role="alert">{{ error_message }}</div>
          {% endif %}
          {% if messages %}
            {% for message in messages %}
               {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
               <div class="alert alert-danger alert-dismissable fade in">
                  <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                  <strong>Error!</strong> {{ message }}
               </div>
               {% elif message.level == DEFAULT_MESSAGE_LEVELS.WARNING %}
               <div class="alert alert-warning alert-dismissable fade in">
                  <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                  {{ message }}
               </div>
               {% elif message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
               <div class="alert alert-success alert-dismissable fade in">
                  <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                  {{ message }}
               </div>
               {% else %}
               <div class="alert alert-info alert-dismissable fade in">
                  <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                  {{ message }}
               </div>
               {% endif %}
            {% endfor %}
         {% endif %}


          {% block content %}
          <div class="starter-template">
              <h1>Bootstrap starter template</h1>
              <p class="lead">Use this document as a way to quickly start any new project.<br> All you get is this text and a mostly barebones HTML document.</p>
          </div>
          {% endblock %}

        </div>
      </div>
    </div>

  </body>
</html>

