[General]
loglevel = warning

[Server]
bind = 0.0.0.0
port = 9999
username = hashcatnodeuser
password = hashcatnodepassword

[Hashcat]
binary = /usr/bin/hashcat
hashes_dir = /path/to/hashcatnode/hashes/dir
rule_dir = /path/to/hashcatnode/rule/dir
wordlist_dir = /path/to/hashcatnode/wordlist/dir
mask_dir = /path/to/hashcatnode/mask/dir
workload_profile = 3
