[Unit]
Description=HashcatNode
Wants=network-online.target
After=network.target network-online.target

[Service]
ExecStart=/usr/bin/python3 /path/to/HashcatNode/hashcatnode.py
WorkingDirectory=/path/to/HashcatNode/

[Install]
WantedBy=multi-user.target
